.rick__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
}

.rick__cart {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
.rick__search-container {
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
